@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <iframe width="960" height="776" src="https://app.powerbi.com/view?r=eyJrIjoiMjAyNjg5ZWEtOTk3ZC00MWY1LWFmNjQtZmQzOWFkZTg0ODE2IiwidCI6Ijc1NTZjMjI0LTdkNWQtNGVkMy1hYTMyLTFlN2JmN2RiM2E2NSIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>
</div>

