@model ReportViewModel
@{
    ViewData["Title"] = "Azure Power BI Service Embedded Reports";   
}

<form asp-controller="Report" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h2>@ViewData["Title"]</h2>
    <hr />
    @*<div class="form-group">
        <label asp-for="BrowserRemembered" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BrowserRemembered" class="form-control" />
            <span asp-validation-for="BrowserRemembered" class="text-danger"></span>
        </div>
    </div>*@
    <div class="form-group">
        
    </div>
</form>
